.basePadding {
  padding-left: 30px;
  padding-top: 15px;
}
.electrolize {
  font-family: 'Electrolize', sans-serif;
}
.questrial {
  font-family: 'Questrial', sans-serif;
}
.raleway {
  font-family: 'Raleway', sans-serif;
}
.righteous {
  font-family: 'Righteous', cursive;
}
